<% provide :title, t(".help") %>
<h1><%= t(".help") %></h1>
<p>
  <%= t(".get_help_on") %>
  <%= link_to t(".rails_tutorial"), Settings.static_pages.railshelp %>.
  <%= t(".get_help_sample_app") %>
  <%= link_to t(".ruby_on"), Settings.static_pages.railsbook %>
  <%= t(".book") %></a>.
</p>
